    * {
        margin: 0;
        padding: 0;
    }
    
    .container {
        background: url(resimler/pexels-jeffrey-czum-2501965.jpg);
        height: 100vh;
        background-size: 100% 100%;
    }
    
    .container .navbar {
        width: 100%;
        height: 80px;
        background: rgb(24, 116, 152);
    }
    
    .second-container {
        background: rgb(229, 220, 195);
        height: 200vh;
        background-size: 100% 100%;
    }
    
    .second-container .navbar {
        width: 100%;
        height: 80px;
        background: rgb(24, 116, 152);
    }
    
    .last-container {
        background: rgb(229, 220, 195);
        height: 300vh;
        background-size: 100% 100%;
    }
    
    .last-container .navbar {
        width: 100%;
        height: 80px;
        background: rgb(24, 116, 152);
    }
    
    .navbar ul {
        float: right;
        margin: right 20px;
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        line-height: 80px;
    }
    
    .navbar ul li a {
        color: rgb(249, 217, 35);
        text-decoration: none;
        font: size 20px;
        padding: 6px 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: .5s;
    }
    
    .navbar ul li a.active,
    .navbar ul li a:hover {
        background: rgb(235, 83, 83);
        border-radius: 2px;
    }
    
    .container .center {
        border-style: hidden;
        border-radius: 7px;
        border-width: 1px;
        background-color: rgb(243, 240, 215);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Georgia, 'Times New Roman', Times, serif;
        user-select: none;
    }
    
    .center h1 {
        color: brown;
        font-size: 50px;
        font-weight: bold;
        width: 885px;
        margin-top: 15px;
        text-align: center;
    }
    
    .center h2 {
        color: rgb(41, 127, 135);
        font-size: 50px;
        font-weight: bold;
        width: 885px;
        margin-top: 15px;
        text-align: center;
    }
    
    .bolum h3 {
        margin-top: 70px;
        margin-left: 35px;
        margin-right: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .bolum h1 {
        margin-right: 50%;
        margin-left: 30%;
        color: rgb(235, 83, 83);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
    }
    
    .bolum-iki h3 {
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 10pserifx;
        font-family: Georgia, 'Times New Roman', Times, ;
    }
    
    .bolum-iki h1 {
        margin-right: 50%;
        margin-left: 35%;
        color: rgb(235, 83, 83);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
    }
    
    .resim img {
        border-style: hidden;
        border-radius: 17px;
        border-width: 1px;
        top: 45%;
        margin-left: 30%;
        max-width: 550px;
        max-height: 540px;
    }
    
    .iletisim-resim img {
        margin-right: 10px;
        border-style: hidden;
        border-radius: 17px;
        border-width: 1px;
    }
    
    .pencresim img {
        margin-left: 10px;
        margin-right: 10px;
        border-style: hidden;
        border-radius: 17px;
        border-width: 1px;
        max-width: 350px;
        max-height: 340px;
        margin-left: 32%;
    }
    
    .pencresim2 img {
        margin-left: 10px;
        margin-right: 10px;
        border-style: hidden;
        border-radius: 17px;
        border-width: 1px;
        max-width: 350px;
        max-height: 340px;
        margin-left: 32%;
    }
    
    .pencresim3 img {
        margin-left: 10px;
        margin-right: 10px;
        border-style: hidden;
        border-radius: 17px;
        border-width: 1px;
        max-width: 350px;
        max-height: 340px;
        margin-left: 35%;
    }
    
    .pencresim4 img {
        margin-left: 10px;
        margin-right: 10px;
        border-style: hidden;
        border-radius: 17px;
        border-width: 1px;
        max-width: 350px;
        max-height: 340px;
        margin-left: 35%;
    }
    
    .pencresim5 img {
        margin-left: 10px;
        margin-right: 10px;
        border-style: hidden;
        border-radius: 17px;
        border-width: 1px;
        max-width: 350px;
        max-height: 340px;
        margin-left: 32%;
    }
    
    .bolum p {
        margin-left: 40%;
    }